<div id="scene-container"></div>
<script type="importmap">
  {
    "imports": {
      "three": "/js/threejs/three.js",
      "OrbitControls": "/js/threejs/OrbitControls.js"
    }
  }
</script>
<script type="module" src="/js/game/main.js"></script>
