<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
  <link rel="icon" href="https://discoverthreejs.com/favicon.ico" type="image/x-icon">
  <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/game">Game</a>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>
  <footer>
    Copyright © <%= new Date().getFullYear() %>
  </footer>
</body>
</html>
